* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__img {
    justify-content: space-between; 
}
.header__img img {
    margin-left: 2rem;
    width: 15vh;
}
.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.header__nav li {
    margin: auto;
    list-style: none;
    font-size: 1.5rem;
}
