* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.header__figure {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header__figure img {
    width: 20%;
}
.header__nav {
    width: 100%;
}
.header__nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #023e8a;
}
.header__nav li {
    margin: 1.0rem 0;
    color: white;
    font-size: 2rem;
    list-style: none;
}


.main {
    width: 100%;
}
.main__section {
    width: 100%;
}
.main__figure {
    width: 100%;
}
main img {
    margin: 0.9rem auto;
    width: 100%;
}
